<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-light" routerLink="/newskill" *ngIf="isLogged">
        Nueva Skill
    </button>
</div>
 <div class="text-center col-sm-3 col-md-3 col-lg-3 circulo" *ngFor="let skill of skill">
  <circle-progress
  [percent]="(skill.porcentaje)"
  [radius]="100"
  [imageSrc]="''"
  [showImage]="false"
  [title]="(skill.nombre)"
  [showTitle]="true"
  [titleColor]="'#FFFFFF'"
  [titleFontSize]="'30'"
  [imageHeight]="100"
  [imageWidth]="100"
  [showImage]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'#C6B7D8'"
  [animation]="true"
  [animationDuration]="800"
  [showSubtitle]="false"
  [showUnits]="false"
></circle-progress>
 <div>
  <td *ngIf="isLogged">
  <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
      <i class="bi bi-pencil-fill"></i></button>
</td>
<td *ngIf="isLogged">
   <button class="btn btn-light" (click)="delete(skill.id)">
      <i class="bi bi-trash-fill"></i></button>
</td>
 </div>
 </div>

</div>

