.row{
    padding: 20px;
    background-color: #5700C5;
}
.container{
width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.imgproyect1{
    box-shadow: 10px 10px 30px black ;
    border-radius: 5% ;
}
h1, h2, p{
    color: white;
}