<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>escuela 1</h1> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ipsum ab delectus totam aliquid dicta asperiores inventore, nobis sapiente vero? Necessitatibus iste in laudantium aut ipsam aspernatur mollitia recusandae dolor.</p>
            </li>
            <li>
                <h1>escuela 2</h1> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ipsum ab delectus totam aliquid dicta asperiores inventore, nobis sapiente vero? Necessitatibus iste in laudantium aut ipsam aspernatur mollitia recusandae dolor.</p>
            </li>
            <li>
                <h1>escuela 3</h1> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ipsum ab delectus totam aliquid dicta asperiores inventore, nobis sapiente vero? Necessitatibus iste in laudantium aut ipsam aspernatur mollitia recusandae dolor.</p>
            </li>
        </ul>
    </div>
</div>

