.row{
    padding: 20px;

}
div{
    background-color: #5700C5;
    text-align: center;
    
}
#nombre{
    font-weight: bold;
    margin-top: 30%;
    
}
@media(min-width: 576px){
    #fotoperfil{
        
        border-radius: 100%;
        box-shadow: 3px 3px 3px #5700C5;
       
    }   
}
@media(max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #5700C5;
        left: 38%;
        top: 650px; 
    }
}
@media(min-width: 1500px){
    #fotoperfil{
        position: absolute;
        width: 20%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #5700C5;
        left: 1%;
        top: 550px;
    }
}
h1, p{
    color: white;
}
